# Frontend Configmap
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "acacia360-app-chart.fullname" . }}-frontend-config
  labels:
    {{- include "acacia360-app-chart.labels" . | nindent 4 }}
    app: acacia360-frontend
data:
  # Nginx configuration to serve the static frontend files and proxy API calls
  nginx.conf: |
    server {
      listen 80;
      server_name localhost;

      location / {
        root   /usr/share/nginx/html;
        index  index.html;
        try_files $uri $uri/ /index.html;
      }

      # Proxy API calls using Helm variables
      location {{ .Values.frontend.nginx.apiPathPrefix }} {
        # Dynamically set the gateway service address
        proxy_pass http://{{ .Values.frontend.nginx.apiGatewayServiceName }}.{{ .Release.Namespace }}.svc.{{ .Values.global.clusterDomain }}:{{ .Values.frontend.nginx.apiGatewayPort }}/;
        
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_redirect off;
      }

      error_page 500 502 503 504 /50x.html;
      location = /50x.html {
        root /usr/share/nginx/html;
      }
    }